<% content_for :title do %>
  <%= @article.title %>
<% end %>

<div class="medium-6 medium-offset-3 columns">
  <h1 class="feature-title text-center">
    <%= @article.title %>
  </h1>
    <% if current_user?(@article.user) %>
      <%= link_to 'Edit', edit_article_path(@article) %>
      <%= link_to 'Delete', article_path(@article), 
                                   method: :delete, 
                                   data: { confirm: 'Are you sure?' } %>
  <% end %>
  <p class="article-details text-center">
    <time class="pubdate updated" 
          datetime="<%= @article.created_at %>" 
          itemprop="datePublished">
      <%= @article.created_at.strftime("%B %e, %Y ") %>
    </time>  
  </p>
  <p class="article-content">
    <%= markdown @article.text %>
  </p>
  <%= render 'disqus' %>
</div>