<div class="row">
  <div class="medium-6 medium-centered column">
    <h1>About</h1>
    <%= image_tag 'about_profile.jpeg', class: 'about-img' %>
    <p>
      Hi, my name is Scott. I am a human being whom loves to make things. 
      Mostly I make things on the web. You will also find me making things for
      my home and tinkering with micro-processors as well. Taking an idea from 
      your head and building it into something you can see and interact with is
      absolutely amazing to me.
    </p>
    <h2>Programming Life</h2>
    <p>
      My favorite language is Ruby, followed by C++ and JavaScript. C was the
      first language I really worked with while I was studying Information 
      Security and Assurance. But, C++ was my introduction to object-oriented
      programming.  
    </p>
    <p>
      Since I enjoy taking an idea from my head and making it real, I also 
      build web application structure with HTML, and make it look pretty (well
      as pretty as a non-artsy type can) with CSS. I really enjoy styling with 
      SASS to speed things up. Like they say "move fast and break things".
    </p>
    <p>
      Speaking of moving fast. Ruby on Rails is my tool for taking ideas to 
      reality in warp speed. Combine that with a powerful front-end framework 
      such as Bootstrap or Foundation and the speed becomes a source of 
      adrenaline.
    </p>
    <h2>Personal Life</h2>
    <p>
      My life is pretty awesome. I have a beautiful
      wife and we have a kick ass little boy. He is both my son and my best 
      friend. We are all about having fun. I have over 1500 skydives and over 20
      hours of flying time inside a wind tunnel if that clues you in at all. 
      I have been training Jiu Jitsu since 2005. I also like to walk barefoot in 
      the grass.
    </p>
    <h2>Opportunities</h2>
    <p>
      If you have read this far and you think you would like to have someone
      like me on your team, 
      <%= link_to 'please contact me', static_contact_path %>. 
      The best part is that I am super easy to work with, I bring zero drama,
      and I love to share my knowledge (what little I have) with others.
    </p>
    <p>
      Download my <%= link_to 'resume', '/' %> if you are into 
      those things, or check out my 
      <%= link_to 'Github', 'https://github.com/codeByScott' %> to see some of 
      the projects I have worked on. You could also just look at my 
      <%= link_to 'Projects', '/' %> page here on my site.
    </p>
  </div>
</div>