<footer class="footer" id="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">
      <p class="logo show-for-small-only"><i class="fi-skull"></i> </p> 
<!--       <form class="footer-form">
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <label for="email" class="contact">Contact Me</label>
              <input type="email" id="email" placeholder="Email Address" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <textarea rows="5" id="message" placeholder="Message"></textarea>
            </label>
          </div>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <button class="submit" type="submit" value="Submit">Send Message</button>
            </div>
          </div>
        </div>
      </form> -->
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <p class="logo hide-for-small-only"><i class="fi-skull"></i> Code by Scott</p> 
      <p class="footer-links">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Articles', articles_path %>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'About', about_path %>
        <%= link_to 'Contact', new_contact_path %>
      </p>
      <ul class="inline-list social">
        <a href="https://twitter.com/codebyscott"><i class="fi-social-twitter"></i></a>
        <a href="https://www.facebook.com/jiujitsuscott"><i class="fi-social-linkedin"></i></a>
        <a href="https://github.com/codeByScott"><i class="fi-social-github"></i></a>
      </ul>
      <p class="copywrite">&copy; 2016 Code by Scott</p>
    </div>
  </div>
</footer>